name: Repo Metadata Sync

on:
  push:
    branches:
      - main
      - master

jobs:
  repo_sync:
    runs-on: ubuntu-latest
    steps:
      - name: Fetching Local Repository
        uses: actions/checkout@v3
      - name: Repo Sync
        uses: iloveitaly/github-action-metadata-sync@v1
        with:
          # gh secret set GH_PERSONAL_TOKEN --app actions --body $(op read "op://Personal/Github/Section/ID")
          TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}
